<?xml version="1.0"?>
<launch>
	<node pkg="follow-ahead" type='main_obs.py' name='main_obs' output='screen'/>
	<include file='$(find zed_wrapper)/launch/zed2.launch'/>
	<node pkg='follow-ahead' type='human_traj_pred.py' name='human_traj_pred' output='log'/>

	<!--node pkg="rviz" type="rviz" name="rviz" args="-d /home/sahar/catkin_ws/src/follow-ahead-ros/rviz.rviz"/-->
</launch> 
