<?xml version="1.0"?>
<launch>
	<include file="$(find rplidar_ros)/launch/rplidar.launch"/>
	<node pkg="tf2_ros" type="static_transform_publisher" name="laser2base"  args="0 0 0 0 0 0 1 /base_footprint    /laser" />
	<include file="$(find follow-ahead)/launch/slam_gmapping.launch"/>
	<include file="$(find follow-ahead)/launch/navigation.launch"/>

	<include file="$(find turtlebot_bringup)/launch/minimal.launch"/>

</launch> 
